<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PokerHW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PokerHW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <PokerHW.Properties.Settings>
            <setting name="InitialBalance" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Player1Name" serializeAs="String">
                <value>Player1</value>
            </setting>
            <setting name="Player2Name" serializeAs="String">
                <value>Player2</value>
            </setting>
            <setting name="Player3Name" serializeAs="String">
                <value>Player3</value>
            </setting>
            <setting name="Player1Image" serializeAs="String">
                <value>..\..\Images\Players\cat.jpg</value>
            </setting>
            <setting name="Player2Image" serializeAs="String">
                <value>..\..\Images\Players\cat.jpg</value>
            </setting>
            <setting name="Player3Image" serializeAs="String">
                <value>..\..\Images\Players\cat.jpg</value>
            </setting>
            <setting name="CardGameImagePath" serializeAs="String">
                <value>..\..\Images\Cards\</value>
            </setting>
        </PokerHW.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PokerHW.Properties.Settings>
            <setting name="PokerGameImagePath" serializeAs="String">
                <value>..\..\Images\Cards\</value>
            </setting>
            <setting name="DefaultImage1" serializeAs="String">
                <value>..\..\Images\Players\cat.jpg</value>
            </setting>
            <setting name="DefaultImage2" serializeAs="String">
                <value>..\..\Images\Players\dog.jpg</value>
            </setting>
            <setting name="DefaultImage3" serializeAs="String">
                <value>..\..\Images\Players\rubberduck.jpg</value>
            </setting>
            <setting name="DefaultImage4" serializeAs="String">
                <value>..\..\Images\Players\soccerball.jpg</value>
            </setting>
            <setting name="NumOfPlayers" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CardGameImageExtension" serializeAs="String">
                <value>.gif</value>
            </setting>
        </PokerHW.Properties.Settings>
    </applicationSettings>
</configuration>